<div id="confirm-modal-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirm-modal-title"></h4>
            </div>
            <div class="modal-body">
                <h5 id="confirm-modal-message"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirm-modal-cancel-button" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn" data-dismiss="modal" id="confirm-modal-confirm-button" />
            </div>
        </div>
    </div>
</div>
